@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'montserrat';
  display: flex;
  flex-direction: column;
  gap: 5vw;
  overflow-x: hidden !important;
  cursor: none;
}

#mouse-circle {
  position: absolute;
  width: 64px;
  height: 64px;
  margin: -32px 0px 0px -32px;
  border: 1px solid #000000;
  border-radius: 50%;
  pointer-events: none !important;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0);
  z-index: 999999;
}

.mouse-circle-selected {
  width: 25vw !important;
  height: 25vw !important;
  border-radius: 0% !important;
  transition: all 0.4s ease;
  margin: 0 !important;
  border: none !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
  width: 0px;
}

:root {
  --swiper-theme-color: #000000;
}

h2 {
  font-size: 2vw;
}

#about {
  /* background-color: #cfcfcf; */
  width: 80%;
  /* height: 100px; */
  margin: 0px auto;
  font-family: 'montserrat', 'medium';
  font-size: 3vw;
}

#about sup {
  font-size: 1.5vw;
}

#about a {
  color: #000000;
  text-decoration: none;
}



.container {
  width: 100%;
  display: block;
  overflow: hidden;
}

.carousel {
  display: block;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 10px;
  margin: 0;
  white-space: nowrap;
  margin-top: 0px;
  background-image: url("/images/drag.gif");
  background-repeat: no-repeat;
  background-size: 8%;
  background-position: 70% 50%;
}

#values {
  background-image: url("/images/drag.gif");
  background-repeat: no-repeat;
  background-size: 8%;
  background-position: 70% 50%;
}

#values .swiper-slide {
  height: 450px;
}

#values .swiper-wrapper {
  margin-left: 10%;
}


.item {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin: 0 40px;
  height: 380px;
  font-family: 'montserrat', 'medium';
  white-space: pre-line;
}

.container {
  position: relative;
}

.container h2 .name,
.container h2 .country {
  text-decoration: underline;
  cursor: pointer;
}

.person-img,
.country-img {
  position: absolute;
  width: 30%;
  left: 60%;
  display: none;
  pointer-events: none;
  z-index: -1;
  filter: grayscale(1);
}

.item:nth-child(1) {
  margin-left: 10%;
}

.item div {
  width: 100%;
}

.item h1 {
  width: 100%;
  font-size: 3vw;
}

.item p {
  width: 100%;
  font-size: 1.5vw;
}

#laptopcan {
  display: flex;
  align-items: center;
  font-weight: 300;
}


#laptopcan2 {
  margin-top: 0px;
  height: 80vh;
  font-size: 10vw;
  background-image: url("/images/start.webp");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0px auto;
  display: none !important;
}


#laptop-control {
  font-size: 8vw;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  z-index: 6969;
}


.swiper {
  width: 70vw;
  height: 650px;
  float: left;
  margin-left: 10% !important;
  margin-bottom: 0px;
  margin-top: 0px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
  height: 600px;
  flex-direction: column;
  gap: 45px;
}

.swiper img {
  width: 10%;
  border-radius: 50%;
}

.swiper p {
  width: 80%;
}

#testimonial-title {
  width: 20%;
  height: 650px;
  background-color: #252525;
  float: right;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 0px;
}

#testimonial-title span {
  display: inline-block;
  transform: rotate(-90deg);
  font-size: 4vw;
  position: relative;
  color: white;
  font-weight: 700;
}

#experience {
  width: 80%;
  margin: 0px auto;
  font-family: 'montserrat', 'medium';
  font-size: 2.5vw;
}

#experience ul {
  text-decoration: none;
  list-style-type: none;
}

#experience ul li {
  margin-top: 0px;
}

h2 {
  margin-top: 0px;
  font-size: 3vw;
}

#clients {
  width: 80%;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.brand {
  width: 33.3%;
  height: 20vw;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand img {
  width: 60%;
}

footer {
  background-color: #060606;
  color: #fdfdfd;
  font-size: 2vw;
  padding: 30px 10%;
  font-family: 'montserrat';

}

footer h2 {
  font-weight: 300;
  font-style: italic;
}

footer span {
  font-style: normal;
  font-weight: 700;
  font-style: normal;
}
.swiper-slide a{
  color: #000000;
  text-decoration: none;
}

footer p {
  font-size: 0.5vw;
  text-align: center;
}

header {
  z-index: 11;
  display: flex;
  justify-content: space-between;
  padding: 0px 0%;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  height: 10vh;
}

header ul li {
  float: left;
  margin-left: 20px;
  list-style: none;
}

header a {
  text-decoration: none;
  color: #000000;
}
#title_clients{
  margin-left: 10%;
}

#mobile-menu {
  display: none;
}

#menu-div {
  display: none;
  height: 90vh;
  width: 100vw;
  background-color: #252525;
  text-align: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  z-index: 999;
}

#menu-div a {
  color: #fdfdfd;
  font-size: 8vw;
  font-weight: 700;
  text-decoration: none;
  display: block;
}

#contact {
  display: none;
  background-color: rgb(11, 11, 11);
  color: #fdfdfd !important;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 6969;
}

#contact-info {
  display: flex;
  flex-direction: column;
  font-size: 8vw;
  font-weight: 900;
}

#contact-info a {
  color: black;
  color: #ffffff;
  text-decoration: none;
}

#close {
  font-size: 5vw;
  position: absolute;
  top: 0px;
  left: 88%;
}

@keyframes menuin {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes menuout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


/* Tablet */

@media screen and (max-width: 1208px) {
  #about {
    width: 90%;
    font-size: 3rem;
  }
  #values .swiper-wrapper {
    margin-left: 5%;
  }

  body {
    cursor: default;
  }

  #mouse-circle {
    border: none;
  }

  header {
    width: 90%;
    margin-left: 0;
    padding: 0% 5%;
  }

  #about sup {
    font-size: 1.5rem;
  }

  .carousel {
    margin-top: 0px;
  }

  .item:nth-child(1) {
    margin-left: 5%;
  }

  .item h2 {
    font-size: 3rem;
  }

  .item p {
    font-size: 1rem;
  }

  #laptopcan {
    display: none !important;
  }

  #my-work {
    scale: 0.8;
  }

  .carousel {
    background-size: 18%;
  }

  #laptopcan2 {
    display: flex !important;
  }

  #experience {
    width: 90%;
  }
}

@media screen and (max-width: 868px) {
  #about {
    width: 90%;
    font-size: 1.9rem;
  }

  #values {
    background-size: 20%;
    background-position: 80% 30%;
  }

  #menu {
    display: none;
  }

  #mobile-menu {
    display: block;
  }

  #about sup {
    font-size: 0.8rem;
  }

  .container div:first-child {
    margin-top: 0;
  }

  .item h2 {
    font-size: 2rem !important;
  }

  .item p {
    font-size: 1.2rem;
  }

  .item {
    width: 100%;
  }

  .brand {
    width: 50%;
    height: 40vw
  }

  #close {
    font-size: 15vw;
  }

  #experience ul li {
    margin-top: 0px;
  }

  #experience {
    width: 100%;
    margin: 0px auto;
    font-family: 'montserrat', 'medium';
    font-size: 4.5vw;
  }

  #testimonial-title {
    width: 0%;
  }

  .swiper {
    width: 100vw;
    margin: 0 auto !important;

  }


  #title_clients {
    font-size: 4vw;
    margin-left: 5%;
  }

}

@media screen and (max-width: 508px) {
  #laptopcan2 {
    height: 30vh;
    background-size: 90%;
  }

  #values {
    background-size: 30%;
    background-position: 80% 50%;
    height: 70vh;
  }

  .item {
    width: 90%;
  }

  h2 {
    font-size: 4.5vw;
  }

  .brand img {
    width: 80%;
  }

  footer {
    font-size: 2.5vw;
  }

  footer p {
    font-size: 1.5vw;
  }

  #about {
    font-size: 1.5rem;
  }
}