body {
    font-family: 'montserrat', 'medium';
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header a {
    font-size: 16px;
}

#container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0px auto;
    gap: 3vw;
}

#container div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}

#container div div {
    border: none;
}

h2 {
    padding: 0% !important;
    margin: 0% !important;

}

h4 {
    font-size: 1vw !important;
}

@media screen and (max-width: 1208px) {}

@media screen and (max-width: 868px) {}